<div class="productContainer">
        <h2 class="title">Vista de productos</h2>
            {{#if products.length}}
                
                {{#each products}}
                    <div class="productDataContainer">
                        <div class="productButtons">
                            <button>Actualizar</button>
                            <button>Eliminar</button>
                        </div>
                        <div class="titleHeader">
                            <h5 class="titleData">Nombre</h5>
                            <h5 class="titleData">Precio</h5>
                            <h5 class="titleData">Stock</h5>
                        </div>
                        <div class="DataGroup">
                            <div class="productData"><h5> {{this.title}}</h5></div>
                            <div class="productData"><h5>${{this.price}}</h5></div>
                            <div class="productData"><h5> {{this.stock}}</h5></div>
                            <div class="productThumbnail"><img src={{this.thumbnail}} alt=""></img></div>
                        </div>
                    </div>
                {{/each}}

                {{else}}
                    <h2 class="title">No hay productos</h2>
            {{/if}}
        <a href="/"><button class="css-button-sliding-to-top--blue2">Subir al formulario</button></a>
</div>